<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="target-densitydpi=320,width=640,user-scalable=no">
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="description" content="微婚购">
	<meta name="keywords" content="微婚购">
	<title>我的礼金</title>
	<!-- @STYLE -->
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/base.css">
	<link rel="stylesheet" type="text/css" href="../../css/wedding/cash.css">
	<style type="text/css">
	</style>
</head>
<body>
	<div class="g-load"></div>
	<div class="g-body">
		<div class="g-head bg01">
			<p class="bg05 fc01 fs13 f-tac">
				<span>姓名</span>
				<span>礼金金额</span>
				<span>时间</span>
			</p>
		</div>
		<div class="g-main">
			<div class="w-list">
				<p class="fs09 f-tac bg11 fc01">
					<span>周杰伦</span>
					<span>9999元</span>
					<span>1.18&nbsp13:14</span>
				</p>
			</div>
			<div class="w-list">
				<p class="fs09 f-tac bg10 fc01">
					<span>周杰伦</span>
					<span>9999元</span>
					<span>1.18&nbsp13:14</span>
				</p>
			</div>
			<div class="w-list">
				<p class="fs09 f-tac bg11 fc01">
					<span>周杰伦</span>
					<span>9999元</span>
					<span>1.18&nbsp13:14</span>
				</p>
			</div>
			<div class="w-list">
				<p class="fs09 f-tac bg10 fc01">
					<span>周杰伦</span>
					<span>9999元</span>
					<span>1.18&nbsp13:14</span>
				</p>
			</div>
			<div class="w-list">
				<p class="fs09 f-tac bg11 fc01">
					<span>周杰伦</span>
					<span>9999元</span>
					<span>1.18&nbsp13:14</span>
				</p>
			</div>
			<div class="w-list">
				<p class="fs09 f-tac bg10 fc01">
					<span>周杰伦</span>
					<span>9999元</span>
					<span>1.18&nbsp13:14</span>
				</p>
			</div>
			<div class="w-list">
				<p class="fs09 f-tac bg11 fc01">
					<span>周杰伦</span>
					<span>9999元</span>
					<span>1.18&nbsp13:14</span>
				</p>
			</div>
			<div class="w-list">
				<p class="fs09 f-tac bg10 fc01">
					<span>周杰伦</span>
					<span>9999元</span>
					<span>1.18&nbsp13:14</span>
				</p>
			</div>
			<div class="w-list">
				<p class="fs09 f-tac bg11 fc01">
					<span>周杰伦</span>
					<span>9999元</span>
					<span>1.18&nbsp13:14</span>
				</p>
			</div>
			<div class="w-list">
				<p class="fs09 f-tac bg10 fc01">
					<span>周杰伦</span>
					<span>9999元</span>
					<span>1.18&nbsp13:14</span>
				</p>
			</div>
			<div class="w-list">
				<p class="fs09 f-tac bg11 fc01">
					<span>周杰伦</span>
					<span>9999元</span>
					<span>1.18&nbsp13:14</span>
				</p>
			</div>
			<div class="w-list">
				<p class="fs09 f-tac bg10 fc01">
					<span>周杰伦</span>
					<span>9999元</span>
					<span>1.18&nbsp13:14</span>
				</p>
			</div>
			<div class="w-list">
				<p class="fs09 f-tac bg11 fc01">
					<span>周杰伦</span>
					<span>9999元</span>
					<span>1.18&nbsp13:14</span>
				</p>
			</div>
			<div class="w-list">
				<p class="fs09 f-tac bg10 fc01">
					<span>周杰伦</span>
					<span>9999元</span>
					<span>1.18&nbsp13:14</span>
				</p>
			</div>
			<div class="w-list">
				<p class="fs09 f-tac bg11 fc01">
					<span>周杰伦</span>
					<span>9999元</span>
					<span>1.18&nbsp13:14</span>
				</p>
			</div>
			<!-- 加载更多 -->
		</div>
		<div class="g-foot bg01">
			<p class="bg05 fc01 fs13 f-tac">
				礼金总额：<span>9999元</span>
			</p>
		</div>
	</div>
</body>
<script type="text/javascript" src="../../js/lib/jquery-1.11.2.js"></script>
<script type="text/javascript" src="../../js/wedding/cash.js"></script>
<script type="text/javascript">

</script>
</html>