<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="target-densitydpi=320,width=640,user-scalable=no"> 
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="description" content="微婚购">
	<meta name="keywords" content="微婚购">
	<title>出席列表</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/base.css">
	<link rel="stylesheet" type="text/css" href="../../css/wedding/present.css">
	<style type="text/css">
	</style>
</head>
<body>	
	<div class="g-load"></div>
	<div class="g-body">
		<div class="g-head bg01">
			<p class="bg05 fc01 fs13 f-tac">
				<span>姓名</span>
				<span>出席</span>
				<span>人数</span>
				<span>电话</span>
			</p>
		</div>
		<div class="g-main">
			<div class="w-list">
				<p class="fs09 f-tac bg11 fc01">
					<span><label>1</label>周杰伦</span>
					<span>是</span>
					<span>2</span>
					<a href="tel:012345678980"></a>
				</p>
			</div>
			<div class="w-list">
				<p class="fs09 f-tac bg10 fc01">
					<span><label>1</label>周杰伦</span>
					<span>是</span>
					<span>2</span>
					<a href="tel:012345678980"></a>
				</p>
			</div>

			<div class="w-list">
				<p class="fs09 f-tac bg11 fc01">
					<span><label>1</label>周杰伦</span>
					<span>是</span>
					<span>2</span>
					<a href="tel:012345678980"></a>
				</p>
			</div>

			<div class="w-list">
				<p class="fs09 f-tac bg10 fc01">
					<span><label>1</label>周杰伦</span>
					<span>是</span>
					<span>2</span>
					<a href="tel:012345678980"></a>
				</p>
			</div>

			<div class="w-list">
				<p class="fs09 f-tac bg11 fc01">
					<span><label>1</label>周杰伦</span>
					<span>是</span>
					<span>2</span>
					<a href="tel:012345678980"></a>
				</p>
			</div>

			<div class="w-list">
				<p class="fs09 f-tac bg10 fc01">
					<span><label>1</label>周杰伦</span>
					<span>是</span>
					<span>2</span>
					<a href="tel:012345678980"></a>
				</p>
			</div>

			<div class="w-list">
				<p class="fs09 f-tac bg11 fc01">
					<span><label>1</label>周杰伦</span>
					<span>是</span>
					<span>2</span>
					<a href="tel:012345678980"></a>
				</p>
			</div>

			<div class="w-list">
				<p class="fs09 f-tac bg10 fc01">
					<span><label>1</label>周杰伦</span>
					<span>是</span>
					<span>2</span>
					<a href="tel:012345678980"></a>
				</p>
			</div>

			<div class="w-list">
				<p class="fs09 f-tac bg11 fc01">
					<span><label>1</label>周杰伦</span>
					<span>是</span>
					<span>2</span>
					<a href="tel:012345678980"></a>
				</p>
			</div>

			<div class="w-list">
				<p class="fs09 f-tac bg10 fc01">
					<span><label>1</label>周杰伦</span>
					<span>是</span>
					<span>2</span>
					<a href="tel:012345678980"></a>
				</p>
			</div>

			<div class="w-list">
				<p class="fs09 f-tac bg11 fc01">
					<span><label>1</label>周杰伦</span>
					<span>是</span>
					<span>2</span>
					<a href="tel:012345678980"></a>
				</p>
			</div>
			<!-- 加载更多 -->
		</div>
		<div class="g-foot bg01 fc01">
				<div class="bg05 f-fl">
					<p class="f-tac fs13">出席户数</p>
					<p class="f-tac fs13">40</p>
				</div>
				<div class="bg05 f-fl">
					<p class="f-tac fs13">不出席户数</p>
					<p class="f-tac fs13">40</p>
				</div>
				<div class="bg05 f-fl">
					<p class="f-tac fs13">总出席人数</p>
					<p class="f-tac fs13">40</p>
				</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../../js/lib/jquery-1.11.2.js"></script>
<script type="text/javascript" src="../../js/wedding/present.js"></script>
<script type="text/javascript">

</script>
</html>