<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="target-densitydpi=320,width=640,user-scalable=no">
	<!-- 
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"> -->
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="description" content="微婚购">
	<meta name="keywords" content="微婚购">
	
	<title>祝福墙</title>
	<!-- @STYLE -->
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/base.css">
	<style type="text/css">
		.g-body{
			background-image: url(../../img/wedding/bg3.jpg);
		}
		.g-head{
			position: fixed;
			z-index: 2;
			width: 100%;
			height: 160px;
			background-image: url(../../img/wedding/bg3.jpg);
			background-position: center center;
			background-repeat: no-repeat;
		}
		.g-nlst{
			width: 100%;
			margin-top: 160px;
		}
		.m-nlst{
			width: 90%;
			margin:0 auto;
			border-bottom: 1px solid #a88938;
			box-shadow:0 1px 0 0 #fff;
			padding-bottom: 12px;
		}
		.m-nlst p{
			line-height: 60px;
		}
		.m-nlst p span{
			display: inline-block;
			width: 50%;
			height: 60px;
			line-height: 60px;
		}
		.m-nlst p.cnt{
			text-indent: 2em;
			line-height: 40px;
		}
	</style>
</head>
<body>
	<div class="g-load"></div>
	<div class="g-body">
		<div class="g-head f-tac"><img src="../../img/wedding/wishtag.png"></div>
		<div class="g-nlst">
			<div class="m-nlst fs09 fc13">
				<p><span class="f-fl f-tal f-tf fc03">夕阳下·美了Jay影</span><span class="f-fr f-tar f-tf">03-15 14:25</span></p>
				<p class="cnt">遇见一个爱自己并且自己又爱的人不容易，羡慕你嫉妒你，不过最想的还是要好好祝福你，祝新婚快乐，百年好合！</p>
			</div>
			<div class="m-nlst fs09 fc13">
				<p><span class="f-fl f-tal f-tf fc03">夕阳下·美了Jay影</span><span class="f-fr f-tar f-tf">03-15 14:25</span></p>
				<p class="cnt">遇见一个爱自己并且自己又爱的人不容易，羡慕你嫉妒你，不过最想的还是要好好祝福你，祝新婚快乐，百年好合！</p>
			</div>
			<div class="m-nlst fs09 fc13">
				<p><span class="f-fl f-tal f-tf fc03">夕阳下·美了Jay影</span><span class="f-fr f-tar f-tf">03-15 14:25</span></p>
				<p class="cnt">遇见一个爱自己并且自己又爱的人不容易，羡慕你嫉妒你，不过最想的还是要好好祝福你，祝新婚快乐，百年好合！</p>
			</div>
			<div class="m-nlst fs09 fc13">
				<p><span class="f-fl f-tal f-tf fc03">夕阳下·美了Jay影</span><span class="f-fr f-tar f-tf">03-15 14:25</span></p>
				<p class="cnt">遇见一个爱自己并且自己又爱的人不容易，羡慕你嫉妒你，不过最想的还是要好好祝福你，祝新婚快乐，百年好合！</p>
			</div>
			<div class="m-nlst fs09 fc13">
				<p><span class="f-fl f-tal f-tf fc03">夕阳下·美了Jay影</span><span class="f-fr f-tar f-tf">03-15 14:25</span></p>
				<p class="cnt">遇见一个爱自己并且自己又爱的人不容易，羡慕你嫉妒你，不过最想的还是要好好祝福你，祝新婚快乐，百年好合！</p>
			</div>
			<div class="m-nlst fs09 fc13">
				<p><span class="f-fl f-tal f-tf fc03">夕阳下·美了Jay影</span><span class="f-fr f-tar f-tf">03-15 14:25</span></p>
				<p class="cnt">遇见一个爱自己并且自己又爱的人不容易，羡慕你嫉妒你，不过最想的还是要好好祝福你，祝新婚快乐，百年好合！</p>
			</div>
			<div class="m-nlst fs09 fc13">
				<p><span class="f-fl f-tal f-tf fc03">夕阳下·美了Jay影</span><span class="f-fr f-tar f-tf">03-15 14:25</span></p>
				<p class="cnt">遇见一个爱自己并且自己又爱的人不容易，羡慕你嫉妒你，不过最想的还是要好好祝福你，祝新婚快乐，百年好合！</p>
			</div>
			<div class="m-nlst fs09 fc13">
				<p><span class="f-fl f-tal f-tf fc03">夕阳下·美了Jay影</span><span class="f-fr f-tar f-tf">03-15 14:25</span></p>
				<p class="cnt">遇见一个爱自己并且自己又爱的人不容易，羡慕你嫉妒你，不过最想的还是要好好祝福你，祝新婚快乐，百年好合！</p>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../../js/lib/jquery-1.11.2.js"></script>
<script type="text/javascript">
	$(function(){
		$(".g-load").hide();
		$(".g-body").show();
		var m_height=$(document).height();
		// $(".g-body").css("height",m_height);
		// $(".g-nlst").css("height",m_height-160);
		var offset=0;
		// 滑动加载更多
		$(window).scroll(function(){
			if($(window).scrollTop()>=$(document).height()-$(window).height()-50){
				offset++;
				$.ajax({
					type:"post",
					url:"../../json/wishwall.txt",
					data:{"page_index":offset},
					beforeSend:function(){

					},
					error:function(){

					},
					success:function(msg){
						var datas=JSON.parse(msg);
						$.each(datas,function(i,item){
							var str="<div class='m-nlst fs09 fc1'>"+
									"<p><span class='f-fl f-tal f-tf fc03'>"+item.param_1+"</span><span class='f-fr f-tar f-tf'>"+item.param_2+"</span></p>"+
									"<p class='cnt'>"+item.param_3+"</p>"+
									"</div>";
							// document.write(str);
							$(".g-nlst").append(str);
						});
					}
				});
			}
		});

	});
</script>
</html>