.pageY{ width:500px; padding-top:8px; padding-left:10px;}

.yiiPager{font-size:11px;border:0;margin:0;padding:0;line-height:100%;display:inline;}
.yiiPager li{display:inline;}
.yiiPager a:link,.yiiPager a:visited{line-height:20px; height:20px; padding:0px; margin:0px; display:inline-block; display:inline-block; background:#e2e8eb; border-bottom:#bec6ce solid 2px;border-right:#bec6ce solid 2px;border-left:#ffffff solid 1px;border-top:#ffffff solid 1px; padding:1px 6px;text-decoration:none;}
.yiiPager .page a{font-weight:normal;}
.yiiPager a:hover{ color:#000;background:#e6f5fd;border-bottom:#3c7fb1 solid 2px;border-right:#3c7fb1 solid 2px;border-left:#3c7fb1 solid 1px;border-top:#3c7fb1 solid 1px;}
.yiiPager .selected a{background:#2e6ab1;color:#FFFFFF;font-weight:bold;}
.yiiPager .hidden a{border-bottom:#DEDEDE solid 2px;border-right:#DEDEDE solid 2px;border-left:#DEDEDE solid 1px;border-top:#DEDEDE solid 1px;color:#888888;}
/**
 * Hide first and last buttons by default.
 */
.yiiPager .first,.yiiPager .last{display:inline;}